<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemServlet</servlet-name>
        <servlet-class>controller.ItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FAQsServlet</servlet-name>
        <servlet-class>controller.FAQsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FAQsReturnServlet</servlet-name>
        <servlet-class>controller.FAQsReturnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>controller.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveServlet</servlet-name>
        <servlet-class>controller.SaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>controller.CreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewItemServlet</servlet-name>
        <servlet-class>controller.CreateNewItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemServlet</servlet-name>
        <url-pattern>/ItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FAQsServlet</servlet-name>
        <url-pattern>/FAQsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FAQsReturnServlet</servlet-name>
        <url-pattern>/FAQsReturnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveServlet</servlet-name>
        <url-pattern>/SaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/CreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewItemServlet</servlet-name>
        <url-pattern>/CreateNewItemServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
