<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoadCategories</servlet-name>
        <servlet-class>controller.LoadCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCategories2</servlet-name>
        <servlet-class>controller.LoadCategories2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadItems</servlet-name>
        <servlet-class>controller.LoadItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>controller.UpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFAQ</servlet-name>
        <servlet-class>controller.SendFAQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllItems</servlet-name>
        <servlet-class>controller.getAllItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController2</servlet-name>
        <servlet-class>controller.MainController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addItem</servlet-name>
        <servlet-class>controller.addItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>controller.UpdateCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadCategories</servlet-name>
        <url-pattern>/LoadCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCategories2</servlet-name>
        <url-pattern>/LoadCategories2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadItems</servlet-name>
        <url-pattern>/LoadItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/UpdateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFAQ</servlet-name>
        <url-pattern>/SendFAQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllItems</servlet-name>
        <url-pattern>/getAllItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController2</servlet-name>
        <url-pattern>/MainController2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addItem</servlet-name>
        <url-pattern>/addItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController2</welcome-file>
    </welcome-file-list>
</web-app>
